:root {
    --fade-color-1: #ffffffd9; 
    --fade-color-2: #000000d9;
}

body {
    /* background-image: url(/static/images/coffee.jpg); */
    background: lightgray;
}

.headshot {
    padding:10px;
}

.travisturk {
    color: lightgray;
}

.topic {
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    background-size: cover;
    padding: 1rem;
    color
}

#coffee {
    background-image:
    linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
    url(/static/images/coffee.jpg);
}

#key {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/keyboard.jpg);
}

#dice {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/dice.jpg);
}

#e6b {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/e6b.jpg);
}

#elevenspeed {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/elevenspeed.jpg);
}

#sectional {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/sectional.jpg);
}

#tele {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/tele.jpg);
}

#tolex {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/tolex.jpg);
}







/* 
    width: 100%;
    height: 200px; */
    /* -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

