:root {
    --fade-color-1: #d0d1d7ec; 
    --fade-color-2: #d0d1d78a;
    --beard-orange: #c94025;

    --dark-warm: #432a29;
    --light-warm: #f57954;
    --light-cool: #d0d1d7;
}

body {
    /* background-image: url(/static/images/coffee.jpg); */
    background: var(--light-cool);
    line-height: 1.6;
    color: var(--dark-warm);
}


.icons img,
.icons svg {
    width: 4em;
    color: var(--beard-orange);
    /* padding: .2em; */
    margin: 1em;
}

/* .icons img:hover,
.icons svg:hover {
    width: 3.8em;
    color: var(--beard-orange);
} */

a {
    color: var(--beard-orange);
}

a:hover {
    color: var(--beard-orange);
    opacity: .7;
}


.about-me {
    padding:2em;
}

#headshot {
    padding:2em;
}


.footer {
    margin: 1em;
}

.topic {
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    background-size: cover;
    padding: 2rem;
    color
}

#coffee {
    background-image:
    linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
    url(/static/images/coffee.jpg);
}

#key {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/keyboard.jpg);
}

#dice {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/dice.jpg);
}

#e6b {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/e6b.jpg);
}

#elevenspeed {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/elevenspeed.jpg);
}

#sectional {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/sectional.jpg);
}

#tele {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/tele.jpg);
}

#tolex {
    background-image: 
        linear-gradient(to right, var(--fade-color-1), var(--fade-color-2)),
        url(/static/images/tolex.jpg);
}







/* 
    width: 100%;
    height: 200px; */
    /* -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

