{% extends "layout.html" %}
{% block title %} | Admin{% endblock %}
{% block body %}
<div class="container" id="top">

    <div class="row">
        <div class="col">

            <h1 class="display-1">
                Admin
            </h1>
            <hr>
            <h4>
                Content Management Dashboard
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="display-4 project-section">
                Update Resume
            </h1>
        </div>
    </div>
    
    <div class="row">        
        <div class="col-lg-6 col-md-6 col-sm-12">
            <form action="/data" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="operation">Choose Operation</label>
                    <select class="form-control" name="operation" id="operation">
                        <option value="web">Web</option>
                        <option value="private">Private</option>
                    </select>
                </div>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputfile" name="inputfile" accept=".pdf" aria-describedby="custom-file-label">
                        <label class="custom-file-label" for="userfile">Choose *.pdf file</label>
                    </div>
                </div>
                <br>
                <input type="submit" value="Update" class="btn btn-lg btn-secondary btn-block">
            </form>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="display-4 project-section">
                Manage URL Routes
            </h1>
        </div>
    </div>


    
</div>
{% endblock %}