{% extends "layout.html" %}
{% block title %} | Portfolio{% endblock %}
{% block body %}
<div class="container" id="top">

    <div class="row">
        <div class="col">

            <h1 class="display-1">
                METAR by SMS
            </h1>
            <hr>
            
            <h4>
                Text message aviation meteorological reports
            </h4>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h1 class="display-3 project-section">
                Say Hello Here
            </h1>
            <p>
                Coming soon.
            </p>
        </div>
    </div>


</div>
{% endblock %}