{% extends "layout.html" %}
{% block title %} | Portfolio{% endblock %}
{% block body %}
<div class="container" id="top">

    <div class="row">
        <div class="col">

            <h1 class="display-1">
                CSV Tools
            </h1>
            <hr>
            <h4>
                Utilities and tools for basic data manipulation
            </h4>
            <small>(<a href="/portfolio#data">how it's made</a>)</small>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="display-3 project-section">
                Upload File
            </h1>
        </div>
    </div>
    
    <div class="row">        
        <div class="col-lg-6 col-md-6 col-sm-12">
            <form action="/data" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="operation">Choose Operation</label>
                    <select class="form-control" name="operation" id="operation">
                        <option value="abs">Absolute Value Converter</option>
                    </select>
                </div>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputfile" name="inputfile" accept=".csv" aria-describedby="custom-file-label">
                        <label class="custom-file-label" for="userfile">Choose *.csv file</label>
                    </div>
                </div>
                <br>
                <input type="submit" value="Go" class="btn btn-lg btn-secondary btn-block">
            </form>    

            <br>            

        </div>
    </div>

    <hr>

    <h1>Data</h1>
    <div class="row">
        <table class="table table-bordered">
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for value in row  %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock %}