{% extends "layout.html" %}
{% block title %} - About{% endblock %}
{% block body %}
<h1>Hello</h1>
<p>I am Travis Turk, a seasoned hospitality professional and junior software developer seeking employment.</p>
<p>I have over a decade of experience in restaurant operations, encompassing every facet of the Front of House, including team managment, financial reporting and analysis, and development of training systems.</p>
<p>My favorite work entails systems design and human factors. I delight in optimizing structures and tools in ways that have lasting significance for the people who use them.</p>
{% endblock %}