{% extends "layout.html" %}
{% block title %} | Bio{% endblock %}
{% block body %}
<div class="container">
    <div class="row align-items-center">

        <div class="col-md-8 col-sm-6 align-self-end">
            <div style="padding:5%">
                <h3>About Me</h3>
                <hr>
                <p>
                    I am Travis Turk, a seasoned hospitality professional and junior developer.
                </p>

                <!-- tools, systems, and process -->
                <p>
                    I have over a decade of experience in restaurant operations, encompassing every facet of the Front of House, including team and project management, administration, financial reporting and analysis, accounting, and payroll. I have managed at the shift, store, and above-store level with experience in special events, new store openings, and consultation.
                </p>

                <!-- intersection of hospitality and technology -->
                <p>
                    I work in restaurant payroll and accounting softward technical support while continuing to refine my skills in web development.
                </p>
                <p>
                    Checkout my <a href="/projects">projects</a>.    
                    <!-- or view <a href="/resume">resume</a>. -->
                </p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div>
                <img src="static/headshot.jpg" class="img-fluid rounded" alt="headshot">
            </div>    
            <div style="padding:5%;">
                <div class="row justify-content-center">
                    
                    <div class="col-md-3">
                        <!-- GitHub -->
                        <a label="GitHub" href="https://www.github.com/turkosaurus" title="View my GitHub profile">
                            <img src="/static/icons/github-brands.svg" width="50rem">
                        </a>
                    </div>

                    <div class="col-md-3">
                        <!-- LinkedIn -->
                        <a label="Twitter" href="https://www.linkedin.com/in/travis-turk-a364918" title="View my LinkedIn profile">
                            <img src="/static/icons/linkedin-brands.svg" width="50rem">
                        </a>
                    </div>
                    
                    <div class="col-md-3">
                        <!-- Twitter -->
                        <a label="Twitter" href="https://www.twitter.com/turkosaurus" title="View my Twitter profile">
                            <img src="/static/icons/twitter-brands.svg" width="50rem">
                        </a>
                    </div>
                    
                    <div class="col-md-3">
                        <!-- Email -->
                        <a label="Email" href="mailto:travisturk@gmail.com" target="_blank" title="Send me an email">
                            <img src="/static/icons/envelope-regular.svg" width="50rem">
                        </a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    


    <div class="row align-items-center">
        <div class="col-12 topic" id="key">
                <h2>Code</h2>
                <p>Full stack junior web developer</p>
        </div>
    </div>
    
    <div class="row align-items-center">
        <div class="col-12 topic" id="elevenspeed">
                <h2>Cycling</h2>
                <p>Road ride leader</p>
        </div>
    </div>
        
    <div class="row align-items-center">
        <div class="col-12 topic" id="coffee">
            <h2>Barista</h2>
            <p>Coffee trainer and operations manager</p>
        </div>
    </div>
    
    <div class="row align-items-center">
        <div class="col-12 topic" id="tele">
                <h2>Music</h2>
                <p>Guitarist interested in jazz, theory, and improvization</p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 topic" id="e6b">
                <h2>Aviation</h2>
                <p>Current: Private Pilot ASEL</p>
                <p>Next Endorsement: tailwheel</p>

        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 topic" id="dice">
                <h2>Games</h2>
                <p>creator of RPG NPC character tracker (<a href="/projects#incanon">link</a>) - 5e player</p>
    </div>


</div>
{% endblock %}