{% extends "layout.html" %}
{% block title %} | Keg Weight{% endblock %}
{% block body %}

<div class="container" id="top">

    <div class="row">
        <div class="col">

            <h1 class="display-1">
                Keg Weight
            </h1>
            <hr>
            <p>
                Calculate inventory usage by comparing beginning and ending keg weights
            </p>
            <!-- <small>(<a href="/portfolio#data">how it's made</a>)</small> -->
        </div>
    </div>

    <!-- <form action="" id="kegForm" name="kegForm"> -->
    <div class="row">
        <div class="col-lg-4 col-sm-12 d-print-none">
            <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-8">
                    <h2>
                        Enter Info
                    </h2>
                </div>
            </div>

            <div class="form-group row">
                <label for="kegName" class="col-sm-4 col-form-label">Beer Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="kegName" name="kegName" placeholder="">
                    <small id="kegName" class="text-muted">
                        
                    </small>
                </div>
            </div>

            <div class="form-group row">

                <label for="kegSize" class="col-sm-4 col-form-label">Keg Size</label>

                <div class="col-sm-8">
                    <select class="form-control" name="kegSize" id="kegSize">
                        <option selected disabled value="">
                            Choose keg size...
                        </option>
                        <!-- Options loaded in JS -->
                    </select>
                    <small id="kegSize" class="text-muted">
                    </small>
                </div>
            </div>

            <div class="form-group row">
                <label for="weightBegin" class="col-sm-4 col-form-label">Starting Weight</label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" id="weightBegin" name="weightBegin" step="1" min="0">
                    <small id="weightBegin" class="text-muted">
                    </small>
                </div>
            </div>

            <div class="form-group row">
                <label for="weightEnd" class="col-sm-4 col-form-label">Ending Weight</label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" id="weightEnd" name="weightEnd" step="1" min="1">
                    <small id="weightEnd" class="text-muted">
                    </small>
                </div>
            </div>

            <div class="form-group row">
                <label for="usedPercent" class="col-sm-4 col-form-label">Used</label>
                <div class="col-sm-4">
                    <input class="form-control" id="usedPercent" name="usedPercent" disabled type="text" tabindex="-1">
                    <small id="usedPercent" class="text-muted">
                    </small>
                </div>
                <div class="col-sm-4">
                    <input class="form-control" id="usedVolume" name="usedVolume" disabled type="text" tabindex="-1">
                    <small id="usedVolume" class="text-muted">
                    </small>
                </div>
            </div>

            <!-- <div class="form-group row">
                <div class="col-sm-4">
                    <p>
                        Settings
                    </p>
                </div>
                <div class="col-sm-4">
                    <label for="compare">Compare</label>
                    <label class="switch">
                        <input type="checkbox" name="compare" id="compare">
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="col-sm-4">
                    <label for="units">Metric</label>
                    <label class="switch">
                        <input type="checkbox" name="units" id="units">
                        <span class="slider"></span>
                    </label>
                </div>
            </div> -->


            <div class="form-group row">
                <div class="col-sm-4 col-xs-6">
                    <button id="reset" name="reset" class="btn btn-secondary btn-block" tabindex="-1">Reset</button>
                </div>
                <div class="col-sm-8 col-xs-6">
                    <button id="nextKeg" name="nextKeg" class="btn btn-secondary btn-block">Next</button>
                    <!-- <input type="submit" value="Next" class="btn btn-secondary btn-block"> -->
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-sm-12">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h2>
                        Results
                    </h2>
                </div>
                <div class="col-md-2 col-sm-6 d-print-none">
                    <button id="print" name="print" class="btn btn-secondary btn-block">
                        Print
                    </button>            
                </div>
                <div class="col-md-2 col-sm-6 d-print-none">
                    <button id="download" name="download" class="btn btn-secondary btn-block">
                        Download
                    </button>            
                </div>
            </div>
            <div class="row d-print-none">
            </div>
            
            <br>
        
            <div class="row">
                <div class="col">
                    <table id="inventory" name="inventory" class="table table-sm table-bordered">
                        <thead>
                            <th>
                                #
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Start (lbs.)
                            </th>
                            <th>
                                End (lbs.)
                            </th>
                            <th>
                                Used (%)
                            </th>
                            <th>
                                Used (gal.)
                            </th>
        
                        </thead>
                        <caption id="time"></caption>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- </form> -->

    <br>

    <hr>
</div>
{% endblock %}