{% extends "layout.html" %}
{% block title %} - Projects{% endblock %}
{% block body %}
<h1>Projects</h1>

<h2>InCanon</h2>
<h3>Summary</h3>
<p>The web app uses a relational database to allow users to collaboratively build a compendium of all the people, places, and things that animate a role-playing campaign setting.</p>
<p>Players and Game Masters can join their own shared campaign in which everyone views the index of notable entries as their home page, and anyone can add new information.</p>
<p>Originally, this app was a project submission to CS50x, but through continued development it has been released as a standalone web app.</p>
<br>
<h3>Technologies Used</h3>
<ul>
    <li>Flask</li>
    <li>SQLite3</li>
    <li>PostgereSQL</li>
    <li>Python</li>
    <li>Heroku</li>
</ul>
<p></p>
{% endblock %}