{% extends "layout.html" %}
{% block title %} | Portfolio{% endblock %}
{% block body %}

<div class="container" id="top">

    <!-- Title -->
    <div class="row justify-content-left">
        <div class="col">
            <h1 class="display-1">
                Portfolio
            </h1>
        </div>
    </div>
    <div class="row justify-content-left">
        <div class="col">
            <!-- Menu -->
            <li class="list-inline-item">
                <a class="" href="#nailivic">Nailivic Studios</a>
            </li>
            <li class="list-inline-item">
                <a class="" href="#metar">METAR Text Service</a>
            </li>
            <li class="list-inline-item">
                <a class="" href="#incanon">InCanon</a>
            </li>
            <li class="list-inline-item">
                <a class="" href="#data">Data Utilities</a>
            </li>
            <li class="list-inline-item">
                <a class="" href="#"></a>
            </li>
        </div>
    </div>
    <hr>
    

    <div class="row">
        <div class="col" id="about-me">
            <h2>
                About Me
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <p>
                When COVID disrupted my hospitality finance and administration management career in 2020, I began studying computer science fundamentals through 
                <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x">CS50</a>, and I am now a junior web developer building 
                full stack web applications.
            </p>
            <p>
                I have active users for <a href="#nailivic">Nailivic Studios</a>, and beta testers for <a href="#metar">METAR by SMS</a>, both built using Flask, PostgreSQL, and Heroku. 
                My next project will be built with Node.js and React.js.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
        </div>
        <div class="col-lg-4 col-md-0 col-sm-0">
        </div>
    </div>

    <br>


    <div class="row">
        <div class="col">
            <h2>
                Workflow and Toolsets
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 20rem;">
                <a data-toggle="modal" data-target="#modalA">
                    <img src="/static/images/portfolio/roadmap.png" class="card-img-top" alt="image of project roadmap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Project Management</h5>
                    <p class="card-text">"Plan your work, then work your plan."</p>
                    <p class="card-text">Roadmaps and Kanbans organized through Jira projects.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalA" tabindex="-1" aria-labelledby="modalALabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <span style="text-align: right;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </span>
                        <img src="/static/images/portfolio/roadmap.png" class="img-fluid" alt="image of project roadmap">
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card" style="width: 20rem;">
                <a data-toggle="modal" data-target="#modalB">
                    <img src="/static/images/portfolio/widget.gif" class="card-img-top" alt="demonstration of user access to support widget">
                </a>
                <div class="card-body">
                    <h5 class="card-title">User Support</h5>
                    <p class="card-text">Jira service projects are leveraged to provide in-app help widget, which creates helpdesk tickets integrated with project management.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalB" tabindex="-1" aria-labelledby="modalBLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <span style="text-align: right;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </span>
                        <img src="/static/images/portfolio/widget.gif" class="img-fluid" alt="demonstration of user access to support widget">
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card" style="width: 20rem;">
                <a data-toggle="modal" data-target="#modalC">
                    <img src="/static/images/portfolio/repo.png" class="card-img-top" alt="image of github version control dashboard">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Version Control</h5>
                    <p class="card-text">All projects managed on git repositories, with efforts to follow the <a href="https://12factor.net/">twelve-factors</a> to minimize software erosion.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalC" tabindex="-1" aria-labelledby="modalCLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <span style="text-align: right;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </span>
                        <img src="/static/images/portfolio/repo.png" class="img-fluid" alt="image of github version control dashboard">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>


    <div class="row">
        <div class="col">
            <h1 class="display-2">
                Projects
            </h1>
        </div>
    </div>
    <div class="row justify-content-left">
        <div class="col">
            <!-- Menu -->
            <li class="list-inline-item">
                <a class="" href="#nailivic">Nailivic Studios</a>
            </li>
            <li class="list-inline-item">
                <a class="" href="#metar">METAR Text Service</a>
            </li>
            <li class="list-inline-item">
                <a class="" href="#incanon">InCanon</a>
            </li>
            <li class="list-inline-item">
                <a class="" href="#data">Data Utilities</a>
            </li>
            <li class="list-inline-item">
                <a class="" href="#"></a>
            </li>
        </div>
    </div>
    <hr>


    <!--  -->
    <!-- Nailivic -->
    <!--  -->

    <!-- Title -->
    <div class="row justify-content-left">
        <div class="col">
            <h1 class="display-4 project-section" id="nailivic">
                Nailivic Studios
            </h1>
            <h4>
                Enterprise Resource Planning (ERP)
            </h4>
        
            <li class="list-inline-item">
                🟢 Active users
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/Turkosaurus/nailivic">🐱 Source Code</a>
            </li>
            <li class="list-inline-item">
                <a href="https://nailivic.herokuapp.com">🌐 Project Site</a>
            </li>
        </div>
    </div>
    
    <br>

    <!-- Components -->
    <div class="row justify-content-left">
        <div class="col">
            <h2>
                Components
            </h2>
            <table class="table">
                <!-- <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr>
                        <th scope="row">Tools & Libraries</th>
                        <td><code>psychopg2, session, flash, csv, datetime, send_from_directory, bash</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Frameworks</th>
                        <td><code>Flask, Jinja</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Data & Hosting</th>
                        <td><code>PostgreSQL, Heroku</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Style</th>
                        <td><code>Bootstrap, Font Awesome</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- <br> -->

    <!-- Summary -->
    <div class="row justify-content-left">
        <div class="col-md-10 col-sm-12">
            <h2>
                Summary
            </h2>
            <p>
                <a href="https://www.nailivic.com/">Nailivic Studios</a> creates folk art in a variety of sizes, colors, and shapes, all cut from computer controlled lasers.
                This service manages inventory of parts and items, and calculates production queue. Projections are obtained by importing historical sales data from Square.
                SKU system established for all possible combinations of size, type, and colors, which is unified across Square, Shopify, and this app.
            </p>
            <p>
                Projections are imported directly from Square sales reports, and stored in a database table, which may also be exported again as a csv after modifications.
                Parts and items inventory database tables can also be imported or exported via csv. Inventory is unified, while projections are stored by event.
            </p>
        </div>

    </div>
    
    <div class="col-md-10 col-sm-12">
        <div id="carousel-nailivic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-nailivic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-nailivic" data-slide-to="1"></li>
                <li data-target="#carousel-nailivic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="20000">
                <img src="/static/images/nailivic/laser-board.jpg" class="d-block w-100" alt="computer controlled laser with lid open and board prepared for cutting">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>Production Management</h5>
                    <p>Required types, sizes, and quantities are calculated and kept up-to-date</p> -->
                </div>
                </div>
                <div class="carousel-item" data-interval="20000">
                <img src="/static/images/nailivic/parts.jpg" class="d-block w-100" alt="laser cut wooden octopus parts shown from above">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>Inventory Tracking</h5>
                    <p>Make best use of existing inventory and avoid overproduction.</p> -->
                </div>
                </div>
                <div class="carousel-item" data-interval="20000">
                <img src="/static/images/nailivic/item.jpg" class="d-block w-100" alt="assembled wooden octopus artwork in final form">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>Octopus</h5>
                    <p></p> -->
                </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-nailivic" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-nailivic" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <small><a href="#top">return to top</a></small>
    </div>


    <!--  -->
    <!-- METAR -->
    <!--  -->

    <div class="row justify-content-left">
        <div class="col">
            <h1 class="display-4 project-section" id="metar">
                METAR via SMS
            </h1>
            <h4>
                Text Message Aviation Meteorological Reports
            </h4>
            <li class="list-inline-item">
                🟨 In Testing
            </li>
            <li class="list-inline-item">
                <a href=https://github.com/Turkosaurus/webpage>🐱 Source Code</a>
            </li>
            <li class="list-inline-item">
                <a href=https://www.turkosaur.us/metar>🌐 Project Site</a>
            </li>
        </div>
    </div>

    <br>

    <!-- Components -->
    <div class="row justify-content-left">
        <div class="col">
            <h2>
                Components
            </h2>
            <table class="table">
                <!-- <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr>
                        <th scope="row">Tools & Libraries</th>
                        <td><code>twilio, requests, csv, re, psychopg2, datetime, bash</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Frameworks</th>
                        <td><code>Flask, Jinja, Twilio Messaging API</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Data & Hosting</th>
                        <td><code>PostgreSQL, Heroku</code></td>
                    </tr>
                    <!-- <tr>
                        <th scope="row">Style</th>
                        <td><code>Bootstrap, Font Awesome</code></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- <br> -->

    <!-- Summary -->
    <div class="row justify-content-left">
        <div class="col-md-10 col-sm-12">
            <h2>
                Summary
            </h2>
            <p>
                Because data connections are often spotty, this delivers a timely weather report to the pilot user through simlple, low data SMS protocols.
            </p>
            <p>
                While the client side is handled by the Twilio API, the server parses requests using regular expressions, fetches recent METARs from 
                the <a href="https://www.aviationweather.gov/dataserver">Aviation Weather Center Text Data Server</a>, and delivers raw METAR text for 
                any requested <code>K***</code> airport code.
            </p>
        </div>
    </div>

    <div class="col-md-10 col-sm-12">
        <div id="carousel-metar" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-metar" data-slide-to="0" class="active"></li>
                <!-- <li data-target="#carousel-metar" data-slide-to="1"></li>
                <li data-target="#carousel-metar" data-slide-to="2"></li> -->
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="20000">
                <img src="/static/images/metar/metar-example.gif" class="d-block w-100" alt="series of texts retrieving METARs via SMS">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>Rapid response</h5>
                    <p>Quick retrieval for all K*** designated airports.</p> -->
                </div>
                </div>
                <!-- <div class="carousel-item" data-interval="20000">
                <img src="3" class="d-block w-100" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h5>metar-heading</h5>
                    <p>metar paragraph shows only on desktop.</p>
                </div>
                </div>
                <div class="carousel-item" data-interval="20000">
                <img src="#" class="d-block w-100" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h5>metar-heading</h5>
                    <p>metar paragraph shows only on desktop.</p>
                </div>
                </div> -->
            </div>
            <a class="carousel-control-prev" href="#carousel-metar" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-metar" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
        <small><a href="#top">return to top</a></small>
    </div>


    <!--  -->
    <!-- incanon -->
    <!--  -->

    <!-- Title -->
    <div class="row justify-content-left">
        <div class="col">
            <h1 class="display-4 project-section" id="incanon">
                InCanon
            </h1>
            <h4>
                Web Application for TTRPG
            </h4>
        
            <li class="list-inline-item">
                🔺 Development Suspended
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/Turkosaurus/InCanon">🐱 Source Code</a>
            </li>
            <li class="list-inline-item">
                <a href="https://incanon.herokuapp.com/">🌐 Project Site</a>
            </li>
        </div>
    </div>
    
    <br>

    <!-- Components -->
    <div class="row justify-content-left">
        <div class="col">
            <h2>
                Components
            </h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Tools & Libraries</th>
                        <td><code>sqlalchemy, cs50, request, session, flash, bash</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Frameworks</th>
                        <td><code>Flask, Jinja</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Data & Hosting</th>
                        <td><code>PostgreSQL, Heroku</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Style</th>
                        <td><code>Bootstrap</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Summary -->
    <div    lass="row justify-content-left">
        <div class="col-md-10 col-sm-12">
            <h2>
                Summary
            </h2>
            <p>
                Table top role playing games (TTRPG) allow for a collaboratively open world, often populated with so many items, quests, and non-player characters 
                that it can be hard to keep track. 
            </p>
            <p>
                This web application allows logged in users to create campaigns and invite other users to join. In a shared campaign, any player can add to the 
                compendium of characters, items, and quests, all linked through editable places.
            </p>
        </div>

        <div class="col-md-10 col-sm-12">

            <!-- <div id="carousel-incanon" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-incanon" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-incanon" data-slide-to="1"></li>
                    <li data-target="#carousel-incanon" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="20000">
                    <img src="#" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>incanon-heading</h5>
                        <p>incanon paragraph shows only on desktop.</p>
                    </div>
                    </div>
                    <div class="carousel-item" data-interval="20000">
                    <img src="3" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>incanon-heading</h5>
                        <p>incanon paragraph shows only on desktop.</p>
                    </div>
                    </div>
                    <div class="carousel-item" data-interval="20000">
                    <img src="#" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>incanon-heading</h5>
                        <p>incanon paragraph shows only on desktop.</p>
                    </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-incanon" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-incanon" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div> -->
            <small><a href="#top">return to top</a></small>
        </div> 



    <!--  -->
    <!-- Data -->
    <!--  -->

    <!-- Title -->
    <div class="row justify-content-left">
        <div class="col">
            <h1 class="display-4 project-section" id="data">
                Data Utilities
            </h1>
            <h4>
                File correction/manipulation through the web with python <code>csv</code>
            </h4>
        
            <li class="list-inline-item">
                🟨 In Development
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/Turkosaurus/webpage">🐱 Source Code</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.turkosaur.us/data">🌐 Project Site</a>
            </li>
        </div>
    </div>
    
    <br>

    <!-- Components -->
    <div class="row justify-content-left">
        <div class="col">
            <h2>
                Components
            </h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Tools & Libraries</th>
                        <td><code>csv, send_from_directory, flash</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Frameworks</th>
                        <td><code>Flask, Jinja</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Data & Hosting</th>
                        <td><code>PostgreSQL, Heroku</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Style</th>
                        <td><code>Bootstrap, Font Awesome</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Summary -->
    <!-- <div class="row justify-content-left">
        <div class="col-md-10 col-sm-12">
            <h2>
                Summary
            </h2>
            <p>
                This exists because...
            </p>
            <p>
                Features include...
            </p>
        </div>

        <div class="col-md-10 col-sm-12">

            <div id="carousel-template" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-template" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-template" data-slide-to="1"></li>
                    <li data-target="#carousel-template" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="20000">
                    <img src="#" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>template-heading</h5>
                        <p>Template paragraph shows only on desktop.</p>
                    </div>
                    </div>
                    <div class="carousel-item" data-interval="20000">
                    <img src="3" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>template-heading</h5>
                        <p>Template paragraph shows only on desktop.</p>
                    </div>
                    </div>
                    <div class="carousel-item" data-interval="20000">
                    <img src="#" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>template-heading</h5>
                        <p>Template paragraph shows only on desktop.</p>
                    </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-template" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-template" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <small><a href="#top">return to top</a></small>
        </div>
    </div> -->




    <!--  -->
    <!-- template -->
    <!--  -->

    <!-- Title -->
    <!-- <div class="row justify-content-left">
        <div class="col">
            <h1 class="display-4 project-section" id="template">
                template
            </h1>
            <h4>
                Web Application
            </h4>
        
            <li class="list-inline-item">
                🟨 In Development
            </li>
            <li class="list-inline-item">
                <a href="#">🐱 Source Code</a>
            </li>
            <li class="list-inline-item">
                <a href="#">🌐 Project Site</a>
            </li>
        </div>
    </div> -->
    
    <br>

    <!-- Components -->
    <!-- <div class="row justify-content-left">
        <div class="col">
            <h2>
                Components
            </h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Tools & Libraries</th>
                        <td><code>psychopg2, session, flash, csv, datetime, send_from_directory</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Frameworks</th>
                        <td><code>Flask, Jinja</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Data & Hosting</th>
                        <td><code>PostgreSQL, Heroku</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Style</th>
                        <td><code>Bootstrap, Font Awesome</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->

    <!-- Summary -->
    <!-- <div class="row justify-content-left">
        <div class="col-md-10 col-sm-12">
            <h2>
                Summary
            </h2>
            <p>
                This exists because...
            </p>
            <p>
                Features include...
            </p>
        </div>

        <div class="col-md-10 col-sm-12">

            <div id="carousel-template" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-template" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-template" data-slide-to="1"></li>
                    <li data-target="#carousel-template" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="20000">
                    <img src="#" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>template-heading</h5>
                        <p>Template paragraph shows only on desktop.</p>
                    </div>
                    </div>
                    <div class="carousel-item" data-interval="20000">
                    <img src="3" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>template-heading</h5>
                        <p>Template paragraph shows only on desktop.</p>
                    </div>
                    </div>
                    <div class="carousel-item" data-interval="20000">
                    <img src="#" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>template-heading</h5>
                        <p>Template paragraph shows only on desktop.</p>
                    </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-template" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-template" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <small><a href="#top">return to top</a></small>
        </div>
    </div> -->














</div>
{% endblock %}