{% extends "layout.html" %}
{% block title %} | Resume{% endblock %}
{% block body %}
<div class="container">
    <embed src="/resume/{{ action }}" width="95%" height="1200px">
    <br>
    <!-- <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10 ">
            <a href="/pdf"><img src="/static/resume-TravisTurk-web.png" alt="click image to download PDF" style="width:100%;height:auto" data-toggle="tooltip" data-placement="top" title="click image for pdf"></a>
        </div>
    </div> -->
    <div class="row justify-content-center">
    </div>
    


</div>
{% endblock %}